includes:
  - ../../../../symplify/phpstan-rules/config/static-rules.neon
  - ../../../../symplify/phpstan-rules/config/services/services.neon

  - ../../../../symplify/phpstan-rules/config/array-rules.neon
  - ../../../../symplify/phpstan-rules/config/code-complexity-rules.neon
  - ../../../../symplify/phpstan-rules/config/doctrine-rules.neon
  - ../../../../symplify/phpstan-rules/config/naming-rules.neon
  - ../../../../symplify/phpstan-rules/config/regex-rules.neon
  - ../../../../symplify/phpstan-rules/config/services-rules.neon
  - ../../../../symplify/phpstan-rules/config/size-rules.neon
  - ../../../../symplify/phpstan-rules/config/forbidden-static-rules.neon
  - ../../../../symplify/phpstan-rules/config/string-to-constant-rules.neon
  - ../../../../symplify/phpstan-rules/config/symfony-rules.neon
  - ../../../../symplify/phpstan-rules/config/test-rules.neon
  - ../../../../symplify/phpstan-rules/config/generic-rules.neon
  - ../../../../symplify/phpstan-rules/config/symplify-strict-rules.neon

  - ../../../../symplify/phpstan-rules/config/configurable-rules.neon


services:
  -
    class: Symplify\PHPStanRules\Rules\ForbiddenParentClassRule
    tags: [ phpstan.rules.rule ]
    arguments:
      forbiddenParentClasses:
        - Doctrine\ORM\EntityRepository
      forbiddenParentClassesWithPreferences:
        PHPStan\Testing\RuleTestCase: 'Symplify\PHPStanExtensions\Testing\AbstractServiceAwareRuleTestCase'

parameters:
  ignoreErrors:
    -
      message: '#Do not use trait#'
      path: ../../../../../src/Entity/Traits/*
    -
      message: '#Do not use @method tag in class docblock#'
      path: ../../../../../src/Repository/*
    -
      message: '#Trait method "[^"]+" should not contain any logic, but only delegate to other class call#'
      path: ../../../../../src/Entity/Traits/*
    -
      message: '#Instead of "DateTime" class/interface use "[^"]+"#'
      path: ../../../../../src/Entity/*
    -
      message: '#Property with protected modifier is not allowed. Use interface contract method instead#'
      paths:
        - ../../../../../src/Command/*
        - ../../../../../src/Entity/*
    -
      message: '#Do not use static property#'
      path: ../../../../../src/Command/*
    -
      message: '#Use explicit names over dynamic ones#'
      path: ../../../../../src/Kernel.php
    -
      message: '#Property with protected modifier is not allowed. Use interface contract method instead#'
      path: ../../../../../src/Exception/*
    -
      message: '#Function "method_exists()" cannot be used/left in the code#'
      path: ../../../../../tests/bootstrap.php
