services:
  - Symplify\PackageBuilder\Matcher\ArrayStringAndFnMatcher
  -
    class: Symplify\CodingStandard\Rules\ForbiddenParentClassRule
    tags:
      - phpstan.rules.rule
    arguments:
      forbiddenParentClasses:
        - Doctrine\ORM\EntityRepository
      forbiddenParentClassesWithPreferences:
        PHPStan\Testing\RuleTestCase: 'Symplify\PHPStanExtensions\Testing\AbstractServiceAwareRuleTestCase'
